<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div>
        {% comment %} annotate function ar jonne html {% endcomment %}
        <ul>
            {% for project in projects %}
            <li>
                <p> {{project.name}} - Task Count: {{project.task_count}}</p>
            </li>
            {% endfor %}
            
        </ul>
    </div>


</body>
</html>