<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>  
</head>
<body>
    <h1>Welcome to the Task Management System</h1>

    <ul>
    {% for key,value in person.items %}
    <li>
        {{key}}: {{value}}
    </li>
   
    {% endfor %}
    </ul>
 
    {% for l in list1 %}
      {% if not l|divisibleby:2  or l|divisibleby:2 %}
        <p>{{l}}</p>
      {% endif %}
    {% endfor %}
</body>
</html>